USE [ValueTech]
GO
/****** Objeto: Table [dbo].[Comuna] Fecha de script: 11-09-2026 7:14:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comuna](
	[IdComuna] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[InformacionAdicional] [xml] NOT NULL,
	[IdRegion] [int] NULL,
 CONSTRAINT [PK_Comuna] PRIMARY KEY CLUSTERED 
(
	[IdComuna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Region] Fecha de script: 11-09-2026 7:14:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[IdRegion] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[IdRegion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Region]  WITH CHECK ADD  CONSTRAINT [FK_Region_Region] FOREIGN KEY([IdRegion])
REFERENCES [dbo].[Region] ([IdRegion])
GO
ALTER TABLE [dbo].[Region] CHECK CONSTRAINT [FK_Region_Region]
GO
/****** Objeto: StoredProcedure [dbo].[sp_Comuna_Merge] Fecha de script: 11-09-2026 7:14:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rodrigo Inostroza
-- Create date: 10-09-2026
-- Description:	Lista todas las regiones
-- =============================================
CREATE PROCEDURE [dbo].[sp_Comuna_Merge]
(
@IdComuna INT,
@Nombre Varchar(50)
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	UPDATE COMUNA
	SET [Nombre] = @Nombre
    WHERE [IdComuna] = @IdComuna;

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Comuna_Obtener] Fecha de script: 11-09-2026 7:14:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rodrigo Inostroza
-- Create date: 10-09-2026
-- Description:	Lista todas las regiones
-- =============================================
CREATE PROCEDURE [dbo].[sp_Comuna_Obtener]
(
@IdComuna INT 
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [IdComuna], [Nombre], [InformacionAdicional], [IdRegion] FROM COMUNA WHERE [IdComuna] = @IdComuna;

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Comuna_ObtenerPorIdRegion] Fecha de script: 11-09-2026 7:14:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rodrigo Inostroza
-- Create date: 10-09-2026
-- Description:	Lista todas las regiones
-- =============================================
CREATE PROCEDURE [dbo].[sp_Comuna_ObtenerPorIdRegion]
(
@IdRegion INT 
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [IdComuna], [Nombre], [InformacionAdicional], [IdRegion] FROM COMUNA WHERE [IdRegion] = @IdRegion;

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Region_Listar] Fecha de script: 11-09-2026 7:14:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rodrigo Inostroza
-- Create date: 10-09-2026
-- Description:	Lista todas las regiones
-- =============================================
CREATE PROCEDURE [dbo].[sp_Region_Listar]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [IdRegion], [Nombre] FROM REGION;

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Region_ObtenerPorId] Fecha de script: 11-09-2026 7:14:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rodrigo Inostroza
-- Create date: 10-09-2026
-- Description:	Lista todas las regiones
-- =============================================
CREATE PROCEDURE [dbo].[sp_Region_ObtenerPorId]
(
@IdRegion INT 
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [IdRegion], [Nombre] FROM REGION WHERE [IdRegion] = @IdRegion;

END
GO
